table {
  width: 80%; /* Adjust width to leave space on the sides */
  margin: 20px auto; /* Center the table horizontally */
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #0073e6;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d1e0f0;
}

td {
  padding: 12px;
}

.button {
  position: absolute;
  top: 20px;
  left: 30px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: #0056b3;
}
.page {
  color: #001f3f;
  background-color: antiquewhite;
  margin: none;
  padding: none;
}
.contact-info {
  background-color: #2b4a6a;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.contact-container {
  max-width: 600px;
  margin: auto;
}

.contact-info a {
  color: #00aaff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  margin: 0 10px;
}
html {
  scroll-behavior: smooth;
}
